/*
* admin-variables
*/




//  Base Colors
// -------------------------
@blue: #52c3ff;
@red:       #d94546;
@green: #72cb44;

//little mixin
@base: @blue;

// Grays
// -------------------------
@black:                 desaturate(darken(@base, 1000%),100%);;
@grayDarker:            desaturate(darken(@base, 50%),12%);;
@grayDark:              desaturate(darken(@base, 50%),12%);;
@gray:                  desaturate(darken(@base, 50%),50%);;
@grayLight:             desaturate(lighten(@base, 25%),10%);;
@grayLighter:           desaturate(lighten(@base, 50%),20%);;
@white:                 desaturate(lighten(@base, 100%),100%);;


// Scaffolding
// -------------------------
@bodyBackground:        lighten(@base, 10%);
@textColor:             darken(@base, 60%);


// Links
// -------------------------
@linkColor:             @base;
@linkColorHover:        darken(@linkColor, 18%);

// Navbar
// -------------------------
@navbarHeight:                    40px;
@navbarBackgroundHighlight:       desaturate(darken(@base, 50%),12%);
@navbarBackground:                desaturate(darken(@base, 80%),30%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      lighten(@base, 5%);
@navbarLinkColor:                 @linkColor;
@navbarLinkColorHover:            lighten(@navbarLinkColor, 20%);
@navbarLinkColorActive:           lighten(@navbarLinkColor, 30%);
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@linkColorHover, 10%);

@navbarBrandColor:                lighten(@base, 30%);

@navbarBackgroundColor: @navbarBackground;
@selectedColor: @navbarText;
@headerColor: @textColor;

