  /*Navbar*/
  .brand,.navbar .brand {
    color: @navbarBrandColor;
    text-shadow: 0px 0px 1px lighten(@navbarLinkColorHover, 10%);
    font-size: 2em;
    margin-left: .5em;
    padding-left: 0px;
    font-family: 'imprima', serif;
    //line-height: 1em;
    //margin-bottom: -1em;
  }

  .navbar {
    position: relative;
    z-index: 20;
    margin: 0px;
    padding: 0px;
    .box-shadow(0px 1px 3px fade(#000, 20%));

    .navbar-inner {
      .gradient(@navbarBackgroundHighlight, @navbarBackgroundHighlight, lighten(@navbarBackgroundHighlight, 10%));
      padding: 1em 1em;
      margin: 0px;
      .rounded(0px);
      border: 0px;
      border-bottom: 1px solid darken(@navbarBackgroundColor, 25%);
    }

    .nav {
      margin: 0em;
      margin-right: -1em;

      & > li > a {
        color: @navbarText;
        text-shadow: 0 1px 0 darken(@navbarText, 30%);
      }
      & > li > a:hover {
        color: @navbarLinkColorHover;
        text-shadow: 0px 0px 10px lighten(@navbarLinkColorHover, 30%);
      }
      & > li.dropdown.open > .dropdown-toggle {
        background-color: transparent;
        color: lighten(@navbarLinkColorHover, 30%);
      }
    }
  }
  //TODO continue editing here may 6
    /*Nav Tabs*/
  #main-menu {
    @tabBackgroundColor: lighten(@navbarBackgroundColor, 8%);
    @tabInactiveColor: lighten(@tabBackgroundColor, 0%);
    @tabActiveColor: @navbarBackgroundColor;//lighten(#3a87ad, 10%);

    background: @tabBackgroundColor;
    border-bottom: 0px;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid darken(@tabBackgroundColor, 20%);
    z-index:1;

    .nav-tabs {
      padding: .5em 0em .5em .5em;
      margin-bottom: 0px;
      border-bottom: 0px;

      & > li {
        margin-left: .5em;
        .rounded(5px);
        border-bottom: 1px solid #fff;

        &:hover {
          .gradient(@tabInactiveColor, lighten(@tabInactiveColor, 5%), lighten(@tabInactiveColor, 19%))
        };
        &.dropdown .caret {
          .headerText();
          border-top-color: darken(@navbarBackgroundColor, 40%);
          border-bottom-color: darken(@navbarBackgroundColor, 40%);
        }
        & > a {
          .gradient(@tabInactiveColor, @tabInactiveColor, lighten(@tabInactiveColor, 12%));
          color: darken(@navbarBackgroundColor, 50%);
          text-shadow: 1px 1px 0px #fff;
          margin: 0px;
          border-bottom: 0px;
          border: 1px solid darken(@tabBackgroundColor, 22%);
          .rounded(5px);
          .box-shadow(inset 0px 1px 0px #fff);

          &:hover { background: none; }
        }

        &.active {
          margin-bottom: 0px;
          border: 0px;
          border-bottom: 1px solid #fff;
          overflow: hidden;

          & > a {
            @buttonColor: @tabActiveColor;
            .gradient(@buttonColor, darken(@buttonColor, 10%), lighten(@buttonColor, 16%));
            .box-shadow(inset 0px 1px 3px fade(darken(@buttonColor, 30%), 60%));
            text-shadow: none;
            color: #fff;
            border:1px solid darken(@buttonColor, 14%);
            border-bottom:1px solid darken(@buttonColor, 23%);
            border-top:1px solid darken(@buttonColor, 23%);
          }
        }
      }
      .open .dropdown-toggle {
        background: #fff;
        color: darken(@navbarBackgroundColor, 50%);

        .caret {
          .headerText();
          border-top-color: darken(@navbarBackgroundColor, 40%);
          border-bottom-color: darken(@navbarBackgroundColor, 40%);
        }
        &:hover .caret {
          .headerText();
          border-top-color: darken(@navbarBackgroundColor, 40%);
          border-bottom-color: darken(@navbarBackgroundColor, 40%);
        }
      }
    }
  }
